<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Добавить/Редактировать контакт</title>
</head>

<body>
<h1>Добавить/Редактировать контакт</h1>
<form th:action="@{/contact/{action}(action = ${action})}" method="post" th:object="${contact}">
    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        <label>Имя</label>
        <input type="text" th:field="*{firstName}">
    </div>
    <div>
        <label>Фамилия</label>
        <input type="text" th:field="*{lastName}">
    </div>
    <div>
        <label>Почта</label>
        <input type="text" th:field="*{email}">
    </div>
    <div>
        <label>Телефон</label>
        <input type="text" th:field="*{phone}">
    </div>
    <button type="submit">Добавить/Обновить</button>
</form>
</body>